# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
ENV/
env/

# VS Code settings (optional)
.vscode/

# Mac system files (optional)
.DS_Store

# SQLite DB (optional—if you don't want to share your local test data)
*.db
